
.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.top {
  margin-bottom: 20px;
}

.title {
  color: var(--textSoft);
  margin-bottom: 20px;
  font-weight: 200;
}

.content {
  display: flex;
  gap: 20px;
}

.card {
  background-color: var(--bg);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}

.card h3 {
  margin-bottom: 20px;
  color: var(--textSoft);
}

.item {
  margin-bottom: 20px;
}

.item label {
  display: block;
  margin-bottom: 10px;
}

.item select {
  width: 100%;
  padding: 10px;
  background-color: var(--bgSoft);
  color: var(--text);
  border: none;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  background-color: #dc2626;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #ef4444;
}
